@font-face {
    font-family: "TheJamsil5Bold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
  }
  @font-face {
    font-family: "Pretendard-Regular";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
    font-style: normal;
  }

* {
    font-family: "Pretendard-Regular";
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    background-image: url(img/불꽃배경투명.png);
    background-size: auto;
    position: relative;

}

body #container .text {
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
    color: #fe9e2a;
}

body #center .center-text {
    text-align: center;
    font-size: 35px;
    padding: 10px;
    color: #333;
    font-weight: bold;
}

body #container #infor .text p {
    text-align: center;
    color: #333;
    padding-top: 30px;
}

.custom-mypage-button {
    color: #333;
}

.text p {
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 25px;
    color: #fe9e2a;
}

.text a {
    text-decoration: none;
}

.text h1:hover {
    color: #ffcd90;
    /* text-shadow: 2px 2px 2px #fe9e2a; */
    transition: font-size 0.4s;
}

.text a h1 {
    margin-left: 20px;
    color: #fe9e2a;
    font-size: 45px;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 30px;
}

.box {
    width: calc(33.33% - 20px);
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s;
    box-sizing: border-box;
}

.box:hover {
    transform: scale(1.05);
}

.content {
    text-align: center;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1em;
    color: #555;
}

